
.active{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.activecar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.active-head{
   background-color: rgb(40, 170, 40);
   border-radius: 10px;
}

.activecard1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgb(37,43,49);
    width: 250px;
    gap: 5px;
    height: 7rem;
    font-size: 11px;
    padding: 10px;
    border-radius: 10px;
}

.activecard1 img{
    width: 7rem;
}
.activecard12{
    font-size: 14px;
    display: flex;
    gap: 30px;
}
.activecard{
    display: flex;
    gap: 31px;
}

.tableactiveparagraph{
    width: 92rem;
    display: flex;
    justify-content: space-between;
}
.id-icon{
    display: flex;
    gap: 10px;
    text-align: center;
}

@media (max-width:1700px) {


.activecard{
    display: flex;
    gap: 25px;
}

.tableactiveparagraph{
    width: 78rem;
    display: flex;
    justify-content: space-between;
}
.activecard1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgb(37,43,49);
    width: 210px;
    gap: 5px;
    height: 7rem;
    font-size: 11px;
    padding: 10px;
    border-radius: 10px;
}
.activecard12{
    font-size: 14px;
    display: flex;
    gap: 20px;
}

}

@media (max-width:1500px) {
.activecard{
    display: flex;
    gap: 20px;
}

.tableactiveparagraph{
    width: 69rem;
    display: flex;
    justify-content: space-between;
}
.activecard1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgb(37,43,49);
    width: 185px;
    gap: 5px;
    height: 6rem;
    font-size: 11px;
    padding: 10px;
    border-radius: 10px;
}
.activecard12{
    font-size: 13px;
    display: flex;
    gap: 7px;
}
.activecard1 img{
    width: 5rem;
}

}


@media (max-width:1340px) {

.activecard1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: rgb(37,43,49);
    width: 170px;
    gap: 5px;
    height: 5.5rem;
    font-size: 11px;
    padding: 7px;
    border-radius: 10px;
}

.tableactiveparagraph{
    width: 60rem;
    display: flex;
    justify-content: space-between;
}

.activecard12{
    font-size: 12px;
    display: flex;
    gap: 7px;
}
.activecard{
    display: flex;
    gap: 10px;
}

}

@media (max-width:1200px) {

.deals{
    width: 53rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.table-deals td{
  border-collapse: collapse;
  padding: 8px;
  font-size: 13px;
  text-align: left;
}
.table-deals th{
  border-collapse: collapse;
  padding: 7px;
  text-align: left;
}



}

@media (max-width:1050px) {

.deals{
    width: 45.5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.table-deals td{
  border-collapse: collapse;
  padding: 10px;
  font-size: 13px;
  text-align: left;
}
.table-deals th{
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}

}
@media (max-width:950px) {

.deals{
    width: 38rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.table-deals td{
  border-collapse: collapse;
  padding: 6px;
  font-size: 12px;
  text-align: left;
}
.table-deals th{
  border-collapse: collapse;
    font-size: 12px;
  padding: 6px;
  text-align: left;
}

}
@media (max-width:820px) {

.deals{
    width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.table-deals td{
  border-collapse: collapse;
  padding: 6px;
  font-size: 12px;
  text-align: left;
}
.table-deals th{
  border-collapse: collapse;
    font-size: 12px;
  padding: 6px;
  text-align: left;
}

}

@media (max-width:800px) {
.deals{
    width: 27rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.table-deals td{
  border-collapse: collapse;
  padding: 3px;
  font-size: 11px;
  text-align: left;
}
.table-deals th{
  border-collapse: collapse;
    font-size: 11px;
  padding: 3px;
  text-align: left;
}

}
@media (max-width:768px) {
.table-deals td{
  border-collapse: collapse;
  padding: 3px;
  font-size: 11px;
  text-align: left;
}
.table-deals th{
  border-collapse: collapse;
    font-size: 11px;
  padding: 3px;
  text-align: left;
}
.activecard{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.tableactiveparagraph{
    width: 30.5rem;
    display: flex;
    justify-content: space-between;
}

.activecard1{
    width: 220px;
    gap: 5px;
    height: 6rem;
    font-size: 11px;
    padding: 10px;
    border-radius: 10px;
}
.activecard1 img{
    width: 7rem;
}
}
@media (max-width:480px) {
.deals{
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.table-deals td{
  border-collapse: collapse;
  padding: 2px;
  font-size: 11px;
  text-align: left;
}
.table-deals th{
  border-collapse: collapse;
    font-size: 11px;
  padding: 2px;
  text-align: left;
}
.activecard{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
.tableactiveparagraph{
    width: 15rem;
    display: flex;
    justify-content: space-between;
}
.activecard1 img{
    width: 5rem;
}
.icon{
  display: none;
}
.tddiplay{
display: none;
}
}