.changepassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(37,43,49);
    width: 50vh;
    padding: 20px 94px 85px 94px;
    height: 31.5vh;
    border-radius: 10px;
    gap: 15px;
}
.changepassword-input-label{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 4px;
}
.changepassword-input{
    width: 27rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}
.changepassword-button{
    font-weight: bold;
    width: 17rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:rgb(40, 170, 40) ;
}

@media (max-width:1700px) {
    .changepassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(37,43,49);
    width: 36%;
    height: 29vh;
    padding: 85px 100px 85px 100px;
    border-radius: 10px;
    gap: 10px;
}
.changepassword-input-label{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 4px;
}
.changepassword-input{
    width: 20rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}
.changepassword-button{
    font-weight: bold;
    width: 17rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:rgb(40, 170, 40) ;
}
}

@media (max-width:480px) {
    .changepassword{
    width: 10rem;
    height: 29vh;
    padding: 50px 86px 50px 86px;
   
}
.changepassword-input{
    width: 14rem; 
}
.changepassword-button{
    font-weight: bold;
    width: 12rem;
   
}
}

@media (max-width:380px) {
 .changepassword{
    width: 8rem;
}
.changepassword-input{
    width: 12rem;  
}
.changepassword-button{
    width: 10rem; 
}
}

@media (max-width:320px) {
 .changepassword{
    width: 5.7rem;
}
.changepassword-input{
    width: 13rem;  
}
.changepassword-button{
    width: 10rem; 
}
}