.search{
     display: flex;
    flex-direction: column;
    margin-top: 38.2rem;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 56.2vh;
    z-index: 888;
    background-color: rgb(37,43,49);
}